[submodule "repo/plugin.video.sonyliv"]
	path = repo/plugin.video.sonyliv
	url = https://github.com/gopal-panigrahi/plugin.video.sonyliv
[submodule "repo/plugin.video.zee5"]
	path = repo/plugin.video.zee5
	url = https://github.com/gopal-panigrahi/plugin.video.zee5.git
[submodule "matrix/plugin.video.sonyliv"]
	path = matrix/plugin.video.sonyliv
	url = https://github.com/gopal-panigrahi/plugin.video.sonyliv.git
	branch = matrix
