[submodule "repo/plugin.video.sonyliv"]
	path = repo/plugin.video.sonyliv
	url = https://github.com/gopal-panigrahi/plugin.video.sonyliv
[submodule "nexus/plugin.video.sonyliv"]
	path = nexus/plugin.video.sonyliv
	url = https://github.com/gopal-panigrahi/plugin.video.sonyliv.git
	branch = nexus
[submodule "repo/plugin.video.zee5"]
	path = repo/plugin.video.zee5
	url = https://github.com/gopal-panigrahi/plugin.video.zee5.git
